* {
  box-sizing: border-box;
}

body {
  background-color: #50719d;
  background-image: url('https://images.unsplash.com/photo-1551866442-64e75e911c23');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: white;
}

h1,
h2,
p {
  padding: 0.5rem;
  margin: 0;
}

header,
main {
  display: flex;
  justify-content: center;
  text-align: center;
}
header {
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  background: blue;
  color: white;
  font-size: 1rem;
  margin: 0.25rem;
}

button:hover {
  background-color: red;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.grid {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: 80vmin;
  height: 80vmin;
  background-image: url('https://www.starpng.com/public/uploads/preview/france-map-transparent-background-png-11577028472gvtuydgr2k.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cell {
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inventory .item {
  height: 4rem;
  width: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.carte-vitale {
  background-image: url('../images/carte-vitale.png');
}
.titre-de-sejour {
  background-image: url('../images/titre-de-sejour.jpg');
}
.sim-card {
  background-image: url('../images/sim-card.png');
}
.compte-bancaire {
  background-image: url('../images/compte-bancaire.png');
}
.apartment {
  background-image: url('../images/apartment.png');
}
.job {
  background-image: url('../images/job.png');
}
.player {
  background-image: url('../images/player.png');
}
